{% extends "base.html" %}

{% block content %}
  <h2>What's all this about?</h2>
  <p>You have lots of projects. Maybe you're working on the perfect cheesecake recipe, writing the great american novel, 
  applying to grad school, or putting together a neighborhood blog. Some projects you finish, and some projects you don't. 
  Some projects are longtime obsessions, and some are passing fancies. They swirl around, cluttering up your daydreams.</p>
  <p>And that makes you awesome. You're interesting. People want to know more about you.</p>
  <p>Do.Proje.cx is a tool for helping you share all the creative endeavors in your life by keeping an updated, central list of 
  your projects. Do.Proje.cx is about fostering a shared excitement about personal creativity by providing a place where everybody 
  can take a look at your latest creations, and you can see what everybody else has been doing, too.</p>
  <h2>How does it work?</h2>
  <p>Log in using your google account, and then list out your projects.</p>
  <img src="/images/doprojecx-learn-001.png" style="border-style:solid;border-width:1px">
  <p>Leave notes for yourself and other on the status of your project.</p>
  <img src="/images/doprojecx-learn-002.png" style="border-style:solid;border-width:1px">
  <p>Do.Proje.cx automatically links to posted URLs.</p>
  <img src="/images/doprojecx-learn-003.png" style="border-style:solid;border-width:1px">
  <p>If you post a link to an RSS feed, Do.Proje.cx automatically fetches items from the feed and includes them as status messages in the project timeline.</p>
  <img src="/images/doprojecx-learn-004.png" style="border-style:solid;border-width:1px">
  <h2>Sharing your stuff</h2>
  <p>Each user can share their projects through their <a href="/user/badhill/">profile page</a>. Each profile page also has a link to an <a href="/feed/badhill/">RSS feed</a> of recent project status updates.</p>
  <p>Please note, do not add your project status RSS feed as a project status, or the internet will explode.</p>
{% endblock %}