<div>
  <div class="project_summary">
    <span class="project_name"><a href="/project/{{project.id}}/">{{ project.name }}</a></span>
  </div>
  <div class="project_scraps">
    <div class="post_scrap">
      <div class="post_scrap_explanation">
        <span class="post_scrap_explanation_span">click to post a url, a feed url, or a status message</span>
      </div>
      <div class="post_scrap_form_div">
        <form class="post_scrap_form">
          <input class="scrap_input" size="50" type="text" name="scrap"/>
          <input class="project_id_input" type="hidden" name="projectid" value="{{project.id}}"/>
          <input type="submit" value="submit">
          <input class="scrap_input_cancel" type="button" value="cancel">
        </form>
      </div>
    </div>
    <div class="scrap_list">
      {% for scrap in project.scraps %}
      <div class="scraptype_{{scrap.class_name}}">
        {% ifequal scrap.class_name "LinkScrap" %}
          <img height=16 width=16 class="scrap_icon" src="{% if scrap.icon %}/scrap_icon/{{scrap.key.id}}/{% else %}/images/blankicon.ico{% endif %}"/>
          <span class="scrap_content"><a href="{{scrap.content}}">{{scrap.content}}</a></span>
        {% else %}
          <span class="scrap_content">{{scrap.content}}</span>
        {% endifequal %}
        <span class="scrap_created">{{scrap.created|timesince}} ago</span>
      </div>
      {% endfor %}
      {% if project.remainder %}
      <div class="scrap_remainder">
        <a href="/project/{{project.id}}/">({{project.remainder}} more)</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>