<div>
  <div class="project_summary">
    <span class="project_name"><a href="/project/{{project.id}}/">{{ project.name }}</a></span>
  </div>
  <div class="project_scraps">
    <div class="post_scrap">
      <div class="post_scrap_explanation">
        <span class="post_scrap_explanation_span">click to post a url, a feed url, or a status message</span>
      </div>
      <div class="post_scrap_form_div">
        <form class="post_scrap_form">
          <input class="scrap_input" size="50" type="text" name="scrap"/>
          <input class="project_id_input" type="hidden" name="projectid" value="{{project.id}}"/>
          <input type="submit" value="submit">
          <input class="scrap_input_cancel" type="button" value="cancel">
        </form>
      </div>
    </div>
    {% include "includes/scraplist_div.html" %}
  </div>
</div>